@import url(https://fonts.googleapis.com/css2?family=Genos:wght@500&display=swap);

.App {
  background-image: url(./images/Blackhole.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: "Genos";
  color: #fff;
}

.homepage-title{
  display: flex;
  justify-content: center;
  background: #000000a4;
  font-style: italic;
  font-size: 75px;
  border: 3px solid #fff;
  border-radius: 20px;
  padding: 20px;
  text-transform: uppercase;
  animation: flicker 1s infinite alternate;  
}

.rules{
  align-self: end;
  background: #000000a4;
  font-style: italic;
  font-size: 20px;
  border: 3px solid #fff;
  border-radius: 20px;
  padding: 10px;
  text-transform: uppercase;
  animation: flicker 1s infinite alternate;  
}

.title{
  background: #000000a4;
  font-style: italic;
  font-size: 25px;
  color:rgb(255, 214, 148);
  padding: 10px;
  border: 3px solid #fff;
  border-radius: 20px;
  text-transform: uppercase;
  animation: flicker 1s infinite alternate;  
}

.nav-bar{
  position: fixed;
  bottom: 2%;
  width: 90%;
  padding-left: 75px;
  padding-right: 75px;
}

.nav-ul{
  display: flex;  
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  background: #000000a4;
  font-style: italic;
  padding: 20px;
  border: 3px solid #fff;
  border-radius: 20px;
  text-transform: uppercase;
  animation: flicker 1s infinite alternate;  
}

.nav-li{
  font-family: "Genos";
  font-size: 25px;
  text-decoration: none;
  color: #fff;
}

.nav-li:visited{
  text-decoration: none;
  color:rgb(255, 214, 148);
}

.homepage{
  padding-top: 5px;
  width: 98%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-div{
  padding-top: 30px;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #000000a4;
  font-style: italic;
  font-size: 15px;
  color:rgb(255, 214, 148);
  padding: 0px 30px 30px 30px;
  border: 3px solid #fff;
  border-radius: 20px;
  text-transform: uppercase;
  animation: flicker 1s infinite alternate;  
}

.input{
  background: #000000a4;
  font-style: italic;
  font-size: 15px;
  color:rgb(255, 214, 148);
  padding: 10px;
  border: 3px solid #fff;
  border-radius: 20px;
  text-transform: uppercase;
  animation: flicker 1s infinite alternate;  
}

.input::placeholder{
  font-style: italic;
  font-size: 15px;
  color:rgb(255, 214, 148);
  text-transform: uppercase;
  animation: flicker 1s infinite alternate;  
}

.existing-players-div{
  background: #000000a4;
  font-style: italic;
  font-size: 15px;
  color:rgb(255, 214, 148);
  padding: 0px 30px 30px 30px;
  border: 3px solid #fff;
  border-radius: 20px;
  text-transform: uppercase;
  animation: flicker 1s infinite alternate;  
}

.existing-players-list{
  display:flex;
  column-gap: 20px;
}

.existing-players{
  background: #000000a4;
  font-style: italic;
  font-size: 15px;
  color:rgb(255, 214, 148);
  padding: 0px 30px 30px 30px;
  border: 3px solid #fff;
  border-radius: 20px;
  text-transform: uppercase;
  animation: flicker 1s infinite alternate;  
}

.game-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.player-select{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  column-gap: 30px;
}

.player1-select{
  text-align: center;
  height:50px;
  background: #000000a4;
  font-style: italic;
  color:rgb(255, 214, 148);
  border: 3px solid #fff;
  border-radius: 20px;
  text-transform: uppercase;
  animation: flicker 1s infinite alternate;  
}

.player2-select{
  text-align: center;
  height:50px;
  background: #000000a4;
  font-style: italic;
  color:rgb(255, 214, 148);
  border: 3px solid #fff;
  border-radius: 20px;
  text-transform: uppercase;
  animation: flicker 1s infinite alternate;  
}

.players{
  display: flex;
  flex-direction: column;
  align-items: center;
}

:root { 
  --neon-text-color: rgb(255, 157, 0);
  --neon-border-color: rgb(255, 157, 0);
}

  @keyframes flicker {
      
      0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
        
          text-shadow:
              -0.2rem -0.2rem 1rem rgb(255, 157, 0),
              0.2rem 0.2rem 1rem rgb(255, 157, 0),
              0 0 6rem var(--neon-text-color),
              0 0 6rem var(--neon-text-color),
              0 0 6rem var(--neon-text-color),
              0 0 8rem var(--neon-text-color),
              0 0 10rem var(--neon-text-color);
          
          box-shadow:
              0 0 .5rem #fff,
              inset 0 0 .5rem #fff,
              0 0 3rem var(--neon-border-color),
              inset 0 0 3rem var(--neon-border-color),
              0 0 2rem var(--neon-border-color),
              inset 0 0 2rem var(--neon-border-color);        
      }
      
      20%, 24%, 55% {        
          text-shadow:
              -0.2rem -0.2rem 1rem rgb(255, 157, 0),
              0.2rem 0.2rem 1rem rgb(255, 157, 0),
              0 0 5rem var(--neon-text-color),;
          box-shadow:
              0 0 .4rem #fff,
              inset 0 0 .4rem #fff,
              0 0 2rem var(--neon-border-color),
              inset 0 0 2rem var(--neon-border-color),
              0 0 1rem var(--neon-border-color),
              inset 0 0 1rem var(--neon-border-color);
      }    
  }

