.tile {
    border:1px solid black;
    margin:0;
    width:70px;
    height:70px;
    background-color: blue;
}

.playerOne{
    background-color: red;
    border:1px solid black;
    margin:0;
    width:70px;
    height:70px;
    clip-path: circle(closest-side at 15px 15px);
    
}

.playerTwo{
    background-color: blue;
    border:1px solid black;
    margin:0;
    width:70px;
    height:70px;
    clip-path: circle(20% at 15px 80%);
    
}

.bothInSquare{
    background-color: red;
    border:1px solid black;
    margin:0;
    width:70px;
    height:70px;
    
}

.tiles{
    display: grid;
    grid-template-columns: repeat(10, 70px);
    grid-template-rows: repeat(10, 70px);
    justify-content:center;
}

.gameboard{
    display: flex;
    justify-content: center;
    border: solid white 2px;
}

