.tile {
    border:1px solid black;
    margin:0;
    width:75px;
    height:75px;
    background-color: blue;
   
}

.playerOne{
    background-color: red;
    border:1px solid black;
    margin:0;
    width:75px;
    height:75px;
    clip-path: circle(closest-side at 15px 15px);
    
}

.playerTwo{
    background-color: blue;
    border:1px solid black;
    margin:0;
    width:75px;
    height:75px;
    clip-path: circle(20% at 15px 80%);
    
}

.bothInSquare{
    background-color: red;
    border:1px solid black;
    margin:0;
    width:75px;
    height:75px;
    
}



.tiles{
    display: grid;
    grid-template-columns: 75px 75px 75px 75px 75px 75px 75px 75px 75px 75px;
    grid-template-rows: 75px 75px 75px 75px 75px 75px 75px 75px 75px 75px;
    justify-content: center;
}