.tile {
    margin:0;
    width:83px;
    height:62px;
}

.playerOne{
    margin:0;
    width:83px;
    height:62px;
    background-image: url(../images/Alien.png);
    background-size: 45px;
    background-repeat: no-repeat;
    background-position: 50%;
}

.playerTwo{
    margin:0;
    width:83px;
    height:62px;
    background-image: url(../images/Astronaut.png);
    background-size: 45px;
    background-repeat: no-repeat;
    background-position: 50%;
    
}

.bothInSquare{
    margin:0;
    width: 83px;
    height:62px;
    background-image: url(../images/Both.png);
    background-size: 65px;
    background-repeat: no-repeat;
}

.tiles{
    background-image: url(../images/BlackholeBoard.jpg);
    padding: 10px;
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(10, 83px);
    grid-template-rows: repeat(10, 62px);
    justify-content:center;
}

.blackhole{
    animation: ripple 1s; 
}

.flicker{
    animation: flicker 1s;
}

#_1{
    margin-top: 10px;
}

#_2{
    margin-top: 8px;
    margin-left: -10px;
}

#_3{
    margin-top: 8px;
    margin-left: -5px;
}

#_4{
    margin-top: 5px;
    margin-left: -5px;
}

#_5{
    height: 70px;
    margin-top: -5px;
}

#_6{
    height: 65px;
    margin-top: -5px;
    margin-left: 18px;
    border-radius: 60px;
    width: 40px;
}

#_7, #_8{
    margin-top: 8px;
}

#_9, #_10{
    margin-top: 10px;
    margin-left: 5px;
}

#_14{
    width: 80px;
    height: 70px;
    margin-left: -10px;
    margin-top: -15px;
}

#_15{
    width: 75px;
    height: 70px;
    margin-left: -5px;
    margin-top: -20px;
}

#_16{
    width: 75px;
    height: 70px;
    margin-left: 5px;
    margin-top: -20px;
}

#_17{
    width: 80px;
    height: 70px;
    margin-left: 5px;
    margin-top: -15px;
}

#_23{
    width: 90px;
    height: 60px;
    margin-left: 5px;
    margin-top: -5px;
}

#_24{
    width: 80px;
    height: 60px;
    margin-left: 15px;
    margin-top: -15px;
}

#_25{
    height: 60px;
    margin-left: 25px;
    margin-top: -25px;    
    border-radius: 60px;
    width: 40px;
}

#_26{
    width: 70px;
    height: 60px;
    margin-left: -5px;
    margin-top: -25px;
}

#_27{
    width: 80px;
    height: 60px;
    margin-left: -15px;
    margin-top: -15px;
}

#_28{
    width: 85px;
    height: 60px;
    margin-left: -10px;
    margin-top: -5px;
}


#_32{
    height: 60px;
    width: 95px;
    margin-left: -10px;
    margin-top: -5px;
}

#_33{
    height: 55px;
    width: 95px;
    margin-left: -20px;
    margin-top: -5px;;
}

#_34{
    height: 55px;
    width: 80px;
    margin-left: -20px;
    margin-top: -10px;
}

#_35{
    height: 45px;
    width: 65px;
    margin-top: -10px;
}

#_36{
    width: 65px;
    height: 50px;
    margin-left: 20px;
    margin-top: -15px;
}

#_37{
    width: 75px;
    height: 50px;
    margin-left: 20px;
    margin-top: -10px;
}

#_38{
    width: 90px;
    height: 55px;
    margin-left: 10px;
    margin-top: -5px;
}

#_39{
    width: 95px;
    height: 60px;
    margin-left: -5px;
}

#_42{
    width: 90px;
    height: 50px;
    margin-top: 5px;
}

#_43{
    width: 90px;
    height: 50px;
    margin-left: 20px;
    margin-top: 5px;
}

#_44{
    width: 70px;
    height: 50px;
    margin-left: 25px;
}

#_47{
    width: 70px;
    height: 50px;
    margin-left: -20px;
}

#_48{
    width: 85px;
    height: 50px;
    margin-left: -25px;
}

#_49{
    width: 95px;
    height: 50px;
    margin-left: -10px;
    margin-top: 5px;
}

#_52{
    height: 50px;
    margin-left: 17px;
    margin-top: 5px;
    border-radius: 60px;
    width: 40px;
}

#_53{
    width: 85px;
    height: 50px;
    margin-left: -25px;
    margin-top: 10px;
}

#_54{
    width: 75px;
    height: 50px;
    margin-left: -25px;
    margin-top: 10px;
}

#_45{
    margin-left: 40px;
    margin-top: -40px;;
}

#_46{
    margin-left: -45px;
    margin-top: -40px;;
}

#_55{
    margin-left: -45px;
    margin-top: 20px;;
}

#_56{
    margin-left: 35px;
    margin-top: 20px;;
}

/* #_56, #_45{
    margin-left: 40px;
} */


#_56, #_55, #_45, #_46{
    width: 90px;
    height: 90px;
    border-radius: 50px;
}

/* #_56, #_55{
    margin-top: 15px;
} */

#_57{
    width: 70px;
    height: 50px;
    margin-left: 25px;
    margin-top: 15px;
}

#_58{
    width: 90px;
    height: 50px;
    margin-left: 20px;
    margin-top: 10px;
}

#_59{
    width: 90px;
    height: 50px;
    margin-top: 5px;
}

#_62{
    margin-top: 5px;
    width: 95px;
    height:60px;
    margin-left: -5px;
}

#_63{
    margin-top: 10px;
    width: 90px;
    height:60px;
    margin-left: 10px;
}


#_64{
    margin-top: 20px;
    width: 70px;
    height:55px;
    margin-left: 25px;
}

#_65, #_66{
    margin-top: 25px;
    width: 55px;
    height: 50px;
}

#_65{
    margin-left: 20px;
    margin-top: 25px;
    height: 45px;
}

#_67{
    margin-top: 20px;
    width: 80px;
    height: 50px;
    margin-left: -20px;
}

#_68{
    margin-top: 10px;
    margin-left: -20px;
    width: 95px;
}

#_69{
    margin-top: 5px;
    margin-left: -15px;
    width: 95px;
}

#_73{
    margin-top: 10px;
    width: 90px;
    margin-left: -15px;
}

#_74{
    margin-top: 15px;
    width: 75px;
    margin-left: -15px;
}

#_75{
    margin-top: 25px;
    width: 65px;
    margin-left: -5px;
}

#_76{
    margin-top: 25px;
    margin-left: 25px;
    border-radius: 60px;
    width: 40px;
}

#_77{
    margin-top: 20px;
    height: 55px;
    width: 75px;
}

#_77{
    margin-left: 15px;
}

#_78{
    width: 80px;
    margin-left: 10px;
    margin-top: 5px;
}

#_84{
    margin-left: 10px;
}

#_84{
    margin-top: 10px;
    width: 75px;
}

#_85{
    margin-top: 15px;
    height: 65px;
}

#_86 {
    margin-top: 10px;
    height: 70px;
    width: 70px;
}

#_87{
    margin-top: 10px;
    width: 80px;
    margin-left: -5px;
}

#_93{
    border-radius: 60px;
    width: 40px;
    margin-top: -7px;
    margin-left: 24px;
}

#_96, #_95{
    margin-top: 5px ;
}

#_1, #_20, #_21, #_40, #_41, #_60, #_61, #_80, #_81, #_100{
    margin-left: -5px;
}

#_20, #_21{
    margin-top: 5px;
}

#_80, #_81, #_100{
    margin-top: -5px;
}

:root { 
    --neon-ripple-text-color: rgb(183, 0, 255);
    --neon-ripple-border-color: rgb(183, 0, 255);
}

@keyframes ripple {
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {

        box-shadow:
            0 0 .5rem rgb(183, 0, 255),
            inset 0 0 .5rem rgb(183, 0, 255),
            0 0 3rem var(--neon-ripple-border-color),
            inset 0 0 3rem var(--neon-ripple-border-color),
            0 0 2rem var(--neon-ripple-border-color),
            inset 0 0 2rem var(--neon-ripple-border-color);        
    }
    
    20%, 24%, 55% {        

        box-shadow:
            0 0 .4rem rgb(183, 0, 255),
            inset 0 0 .4rem rgb(183, 0, 255),
            0 0 2rem var(--neon-ripple-border-color),
            inset 0 0 2rem var(--neon-ripple-border-color),
            0 0 1rem var(--neon-ripple-border-color),
            inset 0 0 1rem var(--neon-ripple-border-color);
    }    
}
